<nav class="bg-blue-600 text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
        <a href="#" class="text-lg font-semibold">Aftas Club</a>
        <div class="hidden md:flex space-x-4">
            <a routerLink="" class="hover:bg-blue-700 px-3 py-2 rounded">Home</a>
            <a routerLink="/home-competition" class="hover:bg-blue-700 px-3 py-2 rounded">Competitions</a>
            <a routerLink="/registration" class="hover:bg-blue-700 px-3 py-2 rounded">Registration</a>
            <a *ngIf="hasAuthorityManager()" routerLink="/hunting" class="hover:bg-blue-700 px-3 py-2 rounded">Hunting</a>
            <a routerLink="/result" class="hover:bg-blue-700 px-3 py-2 rounded">Results</a>
            <a *ngIf="hasAuthorityManager()" routerLink="/competition" class="hover:bg-blue-700 px-3 py-2 rounded">Admin</a>
        </div>
    </div>
</nav>